@import './general.scss';

.form{
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    box-shadow: $boxShadowOut;
    width: 300px;
    input{
        border: none;
        border-bottom: 1px solid $color_light;
        background-color: $color_dark;
        padding: 10px;
        margin: 10px 0px;
        width: 100%;
        position: relative;
    }
}