$color_dark: #171717;
$color_light: #e9e9ec;

$font: "Roboto", sans-serif;
$font_condensed: "Roboto Condensed", sans-serif;
$boxShadowOut: -3px -3px 3px rgba(255, 255, 255, 0.05),
  2px 2px 3px rgba(0, 0, 0, 0.5);
$boxShadowIn: inset -3px -3px 3px rgba(255, 255, 255, 0.05),
  inset 2px 2px 3px rgba(0, 0, 0, 0.5);
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin round_button {
  background-color: $color_dark;
  color: $color_light;
  height: 50px;
  width: 50px;
  margin-top: 10px;
  border-radius: 50%;
  border: 1px solid grey;
  box-sizing: border-box;
  outline: none;
  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
}
@keyframes slide-up {
  from {
    top: 1000px;
  }
  to {
    top: 0px;
  }
}

@keyframes slide-down {
  from {
    top: 0px;
  }
  to {
    top: 1000px;
  }
}

@keyframes ring-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
