@import "./general.scss";

body {
  margin: 0px;
}
.app {
  font-family: $font;
  background-color: $color_dark;
  color: $color_light;
  box-sizing: border-box;
}
.nav {
  height: 50px;
  box-shadow: $boxShadowOut;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background-color: $color_dark;
  line-height: 50px;
  padding: 0px 15px;
  .logo {
    float: left;
  }
  .right {
    float: right;
  }
  .logout {
    background-color: $color_dark;
    border-radius: 4px;
    width: 100px;
    border: 1px solid $color_light;
    color: $color_light;
    padding: 6px;
    position: relative;
    top: 10px;
  }
  .username {
    margin-left: 40px;
  }
}
.error {
  position: absolute;
  font-size: 10px;
  color: orangered;
}
.login {
  @include flex-center;
  .illustration,
  .form-section {
    width: 50%;
    height: 100vh;
    @include flex-center;
  }
}

@media only screen and (max-width: 600px) {
  .login {
    flex-direction: column;
    .illustration,
    .form-section {
      width: 100%;
      height: 50vh;
    }
  }
}
